export GO_SERVER_PORT={{ gocd_server_port }}
export GO_SERVER_SSL_PORT={{ gocd_server_ssl_port }}
export GO_SERVER_SYSTEM_PROPERTIES="$GO_SERVER_SYSTEM_PROPERTIES -Dh2.trace.level=3"
export SERVER_WORK_DIR={{ gocd_server_work_dir }}
export SERVER_MEM={{ gocd_server_mem }}
export SERVER_MAX_MEM={{ gocd_server_max_mem }}
export SERVER_MIN_PERM_GEN={{ gocd_server_min_perm_gen }}
export SERVER_MAX_PERM_GEN={{ gocd_server_max_perm_gen }}
export JAVA_HOME={{ java_home_path }}
DAEMON=Y
