{{ template_masthead }}

### DEFAULT ROLES ###

# Defines the required permissions for transport clients
transport_client:
  cluster:
    - cluster:monitor/nodes/info
    #uncomment the following for sniffing
    #- cluster:monitor/state

# The required permissions for kibana 4 users.
kibana4:
  cluster:
      - cluster:monitor/nodes/info
      - cluster:monitor/health
  indices:
      - names: '*'
        privileges:
          - indices:admin/mappings/fields/get
          - indices:admin/validate/query
          - indices:data/read/search
          - indices:data/read/msearch
          - indices:admin/get
      - names: '.kibana'
        privileges:
          - indices:admin/exists
          - indices:admin/mapping/put
          - indices:admin/mappings/fields/get
          - indices:admin/refresh
          - indices:admin/validate/query
          - indices:data/read/get
          - indices:data/read/mget
          - indices:data/read/search
          - indices:data/write/delete
          - indices:data/write/index
          - indices:data/write/update
          - indices:admin/create

# The required permissions for the kibana 4 server
kibana4_server:
  cluster:
      - monitor
  indices:
    - names: '.kibana'
      privileges:
        - all

# The required role for logstash users
logstash:
  cluster:
    - indices:admin/template/get
    - indices:admin/template/put
  indices:
    - names: 'logstash-*'
      privileges:
        - indices:data/write/bulk
        - indices:data/write/delete
        - indices:data/write/update
        - indices:data/read/search
        - indices:data/read/scroll
        - create_index

# Marvel role, allowing all operations
# on the marvel indices
marvel_user:
  cluster:
    - monitor/nodes/info
    - admin/plugin/license/get
  indices:
    - names: '.marvel-*'
      privileges:
        - all

# Marvel Agent users
marvel_agent:
  cluster:
    - indices:admin/template/get
    - indices:admin/template/put
  indices:
    - names: '.marvel-*'
      privileges:
        - indices:data/write/bulk
        - create_index

### USER DEFINED ROLES ###

{% for role in es_roles %}
#{{ role.description }}
{{ role.name }}:
{% if 'cluster_privs' in role %}
  cluster:
{% for priv in role.cluster_privs %}
    - {{ priv }}
{% endfor %}
{% endif %}
  indices:
{% for index in role.indices %}
    - names: '{{ index.name }}'
      privileges:
{% for priv in index.privs %}
        - {{ priv }}
{% endfor %}
{% endfor %}
{% endfor %}
