# main.yml - Handlers that are used by other roles should be placed here
---
- name: restart iptables
  service:
    name: iptables
    state: restarted

- name: restart rsyslog
  service:
    name: rsyslog
    state: restarted

- name: restart rstudio-server
  command: restart rstudio-server

- name: restart elasticsearch
  service:
    name: elasticsearch
    state: restarted

- name: restart kibana
  service:
    name: kibana
    state: restarted

- name: restart logstash
  service:
    name: logstash
    state: restarted

- name: restart shiny-server
  command: "restart shiny-server"

- name: restart postgres
  service:
    name: "{{ pp_servicename }}"
    state: restarted

# rhel7
- name: reload-daemon
  systemd:
    name: "{{ pp_servicename }}"
    daemon_reload: yes

- name: restart apache
  shell: "service httpd24-httpd restart"

- name: restart sas-server
  service:
    name: sas-studio
    state: restarted
