{{ template_masthead }}

# R Studio Server Configuration File
www-port={{ rstudio_port }}
www-address={{ rstudio_address }}

{% if rstudio_pro %}
auth-proxy={{ rstudio_enable_auth_proxy }}
auth-proxy-sign-in-url={{ rstudio_domain_name }}
monitor-data-path=/opt/rstudio-server/monitoring-data
server-health-check-enabled=1
admin-enabled=1
admin-group={{ rstudio_manager_group }}
admin-superuser-group={{ rstudio_admin_group }}

auth-stay-signed-in=0
# do not enable google accounts
auth-google-accounts=0
{% endif %}
