# Server Configuration File
auth-proxy={{ rstudio_enable_auth_proxy }}
# auth-proxy-sign-in-url={{ rstudio_domain_name }}
monitor-data-path=/opt/rstudio-server/monitoring-data
server-health-check-enabled=1
admin-enabled=1
admin-group={{ rstudio_admin_group }}
