---

- name: Create Redis user
  user:
    name: "{{ redis_user }}"
    system: yes
    home: "{{ redis_db_dir }}"
    shell: "{{ redis_user_shell }}"
    state: present
    groups: "{{ redis_user_groups | join(',') }}"

- name: Install the Redis package
  yum: 
   name: redis  
   state: present

- name: Make Configuration directory
  file:
   path: "{{ redis_config_directory }}"   ## /etc/redis
   state: directory
   mode: 0755

- name: Make Redis working directory
  file:
   path: "{{ redis_working_directory }}"   ## /var/redis
   state: directory
   mode: 0755

- name: Make Redis logfile
  file:
   path: "{{ redis_logfile }}"
   state: touch
   owner: "{{ redis_user }}"
   group: "{{ redis_user }}"
   mode: 1755

- name: Copy the Redis configuration file
  template: 
   src: redis.conf.j2 
   dest: "{{ redis_config_file }}"      ## /etc/redis/6379.conf
  

- name: Open port 6379 in iptables
  command: "iptables -I {{ iptables_chain }} 3 -m state --state NEW -p tcp --dport {{ redis_port }} -j ACCEPT"
  when: iptables_config

- name: Ensure redis is running
  service: 
   name: "{{ redis_service }}"    # redis
   state: started 
   enabled: yes
