[CLUSTER]
EoDCMPassword={{ eod_cm_password }}
EoDCMSSL=0
EoDCMLog=text
EoDCMDefXconfig=XDMCP_Query.cfg
EoDCMAuth=pam
EoDCMAuthPAMPwdPrompt=Password:
EoDCMPreferredPCM={{ eod_cm_preferred_pcm }}
EoDLoadBalancing=cpu
EoDCMLogLevel=1
EoDCMLogRollSize=0
EoDCMLogRollTime=0
EodShowShareConfirmDialog=0
ECSUseKerberos=0
ECSUseUserCredentials=1
ECSldapHost=
ECSldapSSL=0
ECSldapProxyUserName=
ECSldapProxyPassWord=
ECSldapBase=
ECSldapUserLoginPrefix=
ECSldapAuthOnly=0
UseLicenseServer={{ eod_use_license_server }}
LicenseServerHost={{ eod_license_server_host }}
LicenseServerAuthKey=
SuspendTimeout=0
ECSEnableFIPS=0
ClusterName={{ eod_cluster_name }}
