[devtools-2-centos-$releasever]
name=testing 2 devtools for CentOS $releasever
baseurl=http://people.centos.org/tru/devtools-2/$releasever/$basearch/RPMS
enabled=0
gpgcheck=0

[devtools-7]
name=
baseurl=
enabled=0
gpgcheck=0
