{
  "credentials": [
{% for credential in mesos_credentials %}
    {
      "principal": "{{ credential.principal }}",
      "secret": "{{ credential.secret }}"
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ]
}
