[defaults]
force_color=1
forks=50
gathering=smart
host_key_checking=False
vault_password_file=.vault_password
library=/usr/share/ansible:../deploy/library
stdout_callback = skippy
sudo_flags=-H -S
timeout=60
gather_timeout=60

[ssh_connection]
control_path=%(directory)s/%%h-%%r

[privilege_escalation]
become_ask_pass=False
