---
- hosts: proxy_server
  sudo: yes
  handlers:
    - include: roles/apache/handlers/main.yml
  tasks:
    - name: Install git
      yum:
        name: git
        state: present

    - name: Pull down custom proxy configs
      git:
        repo: "{{ enclave_proxy_repo }}"
        dest: "/srv/www/enclave_proxy/repo/"
        force: yes
        version: "{{ git_environment }}"
      when: enclave_proxy_repo is defined
      notify:
        - graceful restart apache

    - name: Ensure permissions are correct
      file:
        dest: /srv/www/enclave_proxy/repo
        owner: apache
        group: apache
        mode: 0600
        recurse: yes
        state: directory
