---
- hosts: research_environment
  sudo: yes
  roles:
    - {role: iptables, when: "iptables_config"}
    - {role: common, when: "install_glusterfs"}

- hosts: research_ancillary_services
  sudo: yes
  roles:
    - emacs
    - open_office
    - evince
    - stattransfer
    - odbc
    - sublime
    - jdk
  tasks:
    - name: Install Ultra Edit
      yum:
        name: UltraEdit.x86_64
        state: present
        disable_gpg_check: yes
      when: custom_repo

- hosts: research_eod
  sudo: yes
  roles:
    - eod

- hosts: research_gauss
  sudo: yes
  roles:
    - gauss
    - odbc
    - gocd

- hosts: research_stata
  sudo: yes
  roles:
    - stata
    - odbc

- hosts: research_python
  sudo: yes
  roles:
    - {role: python, when: "custom_repo"}
    - {role: python-build, when: "not custom_repo"}
    - {role: python3, when: "custom_repo"}
    - {role: python3-build, when: "not custom_repo"}
    - {role: epel, when: "use_epel"}
    - jdk
    - postgresql
    - r
    - r-studio-desktop
    - r-studio-server
    - pycharm
    - odbc
    - gocd
  tasks:
    - name: Install Python RPM dependencies
      yum:
        name: "{{ item }}"
        state: present
        disable_gpg_check: yes
      with_items: python_dep_packages

    - name: Install Python packages for 27
      pip:
        name: "{{ item }}"
        state: present
        executable: /usr/local/bin/pip2.7
      with_items: python_packages

    - name: Install Python packages for 34
      pip:
        name: "{{ item }}"
        state: present
        executable: /usr/local/bin/pip3.4
      with_items: python3_packages

- hosts: research_sas
  sudo: yes
  roles:
    # - sas
    - odbc
    - gocd

- hosts: research_spss
  sudo: yes
  roles:
    - gocd
    # - spss
    - odbc

- hosts: research_matlab
  sudo: yes
  roles:
    # - matlab
    - gocd
    - odbc
