# deploy_proxy_server.yml - Provisioning Playbook for setting up the proxy server
# that allows external access to the data enclave.
---
- hosts: proxy_server
  become: yes
  become_method: sudo
  roles:
    - {role: puppet_disable, when: "disable_puppet"}
    - {role: iptables, when: "iptables_config"}
    - {role: common, when: "install_glusterfs"}
    - ntp
    - kerberos
    - apache
    - kerberos_apache
    - {role: epel, when: "use_epel and install_logstash and not 'production' in group_names"}
    - {role: log-courier, when: "install_logstash"}
    - {role: python, when: "custom_repo and install_python"}
    - {role: python-build, when: "not custom_repo"}

  tasks:
    - name: Create apache directories
      file:
        dest: "{{ item }}"
        state: directory
        owner: apache
        group: apache
      with_items:
        - /srv/www/enclave_proxy
        - /srv/www/enclave_proxy/html
        - /srv/www/enclave_proxy/html/restricted
        - /srv/www/enclave_proxy/repo/vhost_conf

    - name: Ensure symbolic link to vhost confs location
      file:
        src: /srv/www/enclave_proxy/repo/vhost_conf
        dest: /srv/www/enclave_proxy/vhost_conf
        state: link
        owner: apache
        group: apache
        mode: 0600
      notify:
        - restart apache

    - name: Create SSL folder
      file:
        dest: /etc/httpd/ssl
        state: directory
      when: generate_certs

    - name: Generate SSL Certs if requested
      command: "openssl req -new -nodes -x509 -subj '/C={{ country }}/ST={{ state }}/L={{ city }}/O={{ organization_name }}/CN={{ ansible_hostname }}.{{ domain_name }}' -days 3650 -keyout {{ ssl_key_file }} -out {{ ssl_cert_file }} -extensions v3_ca"
      when: generate_certs
      args:
        creates: "{{ ssl_cert_file }}"

    - name: Ensure permissions are correct
      file:
        dest: "{{ item }}"
        mode: 700
        owner: apache
        group: apache
      when: generate_certs
      with_items:
        - "{{ ssl_cert_file }}"
        - "{{ ssl_key_file }}"

    - name: Configure Apache as a proxy
      template:
        dest: "{{ apache_config_dir }}/enclave_proxy.conf"
        src: templates/enclave_proxy.conf
        owner: apache
        group: apache
        mode: 0600
      notify: restart apache

    - name: Create simple HTML file for proxy
      template:
        dest: "/srv/www/enclave_proxy/html/index.php"
        src: templates/enclave_proxy.php
        owner: apache
        group: apache
      notify: restart apache

    - name: Create simple file for restricted area
      template:
        dest: "/srv/www/enclave_proxy/html/restricted/index.php"
        src: templates/enclave_proxy_restricted.php

    - name: Update ldap settings
      template:
        dest: /etc/openldap/ldap.conf
        src: roles/openldap/templates/ldap.conf.j2
