---
- hosts: analytics_terminal
  become: yes
  become_method: sudo

  roles:
      - {role: epel, when: "use_epel and not 'production' in group_names"}
      - {role: python, when: "install_python and custom_repo"}
      - {role: python-build, when: "not custom_repo"}
      - {role: python3, when: "install_python and custom_repo"}
      - {role: python3-build, when: "not custom_repo"}
      - devtools
      - devtools6
      - ruby
      - jdk
      - pycharm
      - postgresql-client
      - nginx
      - spark
      - sublime
      - nodejs
      - redis
      - maven
      - intellij
      - clouseau
      - odbc
      - python-libs
      # - julia

# Install development packages
- hosts: analytics_terminal
  become: yes
  tasks:
    - name: Install development packages
      yum:
        name: "{{ item }}"
        state: present
        disable_gpg_check: yes
      with_items:
        - "@development"
        - gcc-gfortran
        - python-devel
        - pgadmin3_96

    - name: Install custom RPMs
      yum:
        name: "{{ item }}"
        state: present
        disable_gpg_check: yes
      with_items:
        - xsv
        - gnucobol
        - htop
        - p7zip
        - rhobot
      when: custom_repo
