# deploy_mesos_client.yml
### The Mesos agent comes with everything included in a GoCD agent and the App Server
---
- hosts: mesos_agent
  become: yes
  serial: 1
  pre_tasks:
    - name: Install additional packages
      yum:
        name: "{{ item }}"
        state: present
      with_items:
        - "@Development Tools"
        - screen
        - libselinux-python

  ## Temporarily remove devtools and r due to limited repositories on agents
  roles:
    - common7
    - common
    - {role: iptables, when: "{{ iptables_config | bool }}"}
    - devtools7
    - mesos_agent
    - {role: epel7, when: "use_epel and not ( 'production' in group_names or 'developement' in group_names)"}
    - openjdk1.8
    - postgresql-client
    - { role: apache, vars: { apache_service_state: "stopped", apache_service_enable: "no" } }
    #- pentaho
    - gocd7
    - { role: nginx, vars: { nginx_state: "stopped", nginx_enable: "no" } }
    - python2rh7
    - python3rh7
    - pyenvRH7
    - python-libs7
    - odbc7
    - jdbc7
    - {role: ruby, when: "install_ruby"}
    - sqitch
    - r_rh7
    # TO TEST - r-libs7
    - r-shinyRH7
    - r-shiny-configRH7
    - nodejs
    # Not used on prod - redis
    #- julia

  post_tasks:

    - name: Stop Shiny Server
      service:
        name: shiny-server
        state: stopped
      ignore_errors: yes

    - name: Turn off Shiny Server
      service:
        name: shiny-server
        enabled: no
      ignore_errors: yes

    - name: Turn off GoCD Agent
      service:
        name: go-agent
        state: stopped
        enabled: no

    - name: Install custom RPMs
      yum:
        name: "{{ item }}"
        state: present
        disable_gpg_check: yes
      with_items:
        - xsv
        - gnucobol
        - htop
        - p7zip
      when: custom_repo

    - name: Install Additional Database Automation packages
      yum:
        name: "{{ item }}"
        state: present
      with_items:
        - htop
        - rsync
        - unzip
        - gpg
        - pigz
        # - facter
        - sysstat # sar, iostat, vmstat
        - systemtap # dtrace equivalent
        - ant

    - name: Install Database Automation custom packages
      yum:
        name: "{{ item }}"
        state: "{{ db_automation_package_state }}"
        disable_gpg_check: yes
      with_items: "{{ db_automation_custom_packages }}"
      tags:
        - db-automation
