---
- hosts: research_environment
  become: yes
  become_method: sudo
  roles:
    - {role: iptables, when: "iptables_config"}
    - {role: common, when: "install_glusterfs"}
  tasks:
    - name: research eod symlinks
      file:
         src: "{{ item.src }}"
         dest: "{{ item.dest }}"
      with_items: eod_symlinks 

  tasks:
    - name: Ensure X11 Forwarding is present
      lineinfile:
        dest: /etc/ssh/sshd_config
        regexp: ^\s*X11Forwarding=no
        line: X11Forwarding=yes

    - name: Ensure ClientAliveCountMax is set to correct value
      lineinfile:
        dest: /etc/ssh/sshd_config 
        regexp: ClientAliveCountMax
        line: ClientAliveCountMax=384
   
    - name: Ensure run level 5
      lineinfile:
        dest: /etc/inittab
        regexp: initdefault
        line: "id:5:initdefault:"

    - name: research printers symlinks
      file: 
        state: link
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
      with_items: "{{ printers_symlinks }}"

- hosts: research_ancillary_services
  become: yes
  become_method: sudo
  roles:
    - devtools
    - emacs
    - open_office
    - evince
    - stattransfer
    - odbc
    - sublime
    - jdk
  tasks:
    - name: Install Ultra Edit
      yum:
        name: UltraEdit.x86_64
        state: present
        disable_gpg_check: yes
      when: custom_repo
 
    - name: Install texlive
      yum:
        name: texlive
        state: present

- hosts: research_eod
  become: yes
  become_method: sudo
  roles:
    - eod

- hosts: research_gauss
  become: yes
  become_method: sudo
  roles:
    - gauss
    - odbc
    - gocd
    - stattransfer

- hosts: research_stata
  become: yes
  become_method: sudo
  roles:
    - stata
    - odbc
    - stattransfer

- hosts: research_python
  become: yes
  become_method: sudo
  roles:
    - devtools
    - {role: python, when: "custom_repo"}
    - {role: python-build, when: "not custom_repo"}
    - {role: python3, when: "custom_repo"}
    - {role: python3-build, when: "not custom_repo"}
    - {role: epel, when: "use_epel"}
    - jdk
    - postgresql-client
    - r
    - r-studio-desktop
    - r-studio-server-config
    - r-studio-server
    - pycharm
    - odbc
    - gocd
    - stattransfer
  tasks:
    - name: Install Python RPM dependencies
      yum:
        name: "{{ item }}"
        state: present
        disable_gpg_check: yes
      with_items: "{{ python_dep_packages }}"

    - name: Install Python packages for 27
      pip:
        name: "{{ item }}"
        state: present
        executable: /usr/local/bin/pip2.7
      with_items: "{{ python_packages }}"

    - name: Install Python packages for 34
      pip:
        name: "{{ item }}"
        state: present
        executable: /usr/local/bin/pip3.4
      with_items: "{{ python3_packages }}"
    
    - name: Install Gnome-Terminal package
      yum:
        name: "{{ item }}"
        state: present 
        disable_gpg_check: yes 
      with_items:
        - gnome-terminal

- hosts: research_sas
  become: yes
  become_method: sudo
  roles:
    # - sas
    - odbc
    - gocd
    - stattransfer

- hosts: research_spss
  become: yes
  become_method: sudo
  roles:
    # - spss
    - odbc
    - gocd
    - stattransfer

- hosts: research_matlab
  become: yes
  become_method: sudo
  roles:
    # - matlab
    - odbc
    - gocd
    - stattransfer
  tasks:
  - name: Install libselinux-python and libicu package 
    yum:
      name: "{{ item }}" 
      state: present
      disable_gpg_check: yes 
    with_items: 
      - libicu 
      - libselinux-python
