# deploy_admin_terminal.yml
---
- hosts: admin_terminal
  sudo: yes
  roles:
    - {role: puppet_disable, when: "disable_puppet"}
    - {role: iptables, when: "iptables_config"}
    - {role: common, when: "install_glusterfs"}
    - {role: epel, when: "use_epel and not 'production' in group_names"}
    - {role: python, when: "custom_repo"}
    - {role: python-build, when: "not custom_repo"}
    - {role: eod, when: "install_eod"}
    - {role: log-courier, when: "install_logstash"}

  tasks:
    - name: Install development tools
      yum:
        name: "@development"
        state: present
        disable_gpg_check: yes

    - name: Install Ansible in Python 2.7
      pip:
        virtualenv_command: /usr/local/bin/virtualenv
        virtualenv: ~/.virtualenvs/data-platform
        name: ansible
        state: present
      sudo: no
