---
- hosts: admin_terminal
  become: yes
  become_method: sudo
  tasks:
    - name: install requirement for uri task
      yum:
        name: python-httplib2
        state: present

    - name: Disable shard allocation
      uri:
        url: "{{ es_endpoint }}/_cluster/settings"
        method: PUT
        user: "{{ es_service_account }}"
        password: "{{ es_service_account_password }}"
        force_basic_auth: yes
        body_format: json
        status_code: 200
        validate_certs: no
        body: >
          {
            "transient": {
              "cluster.routing.allocation.enable": "none"
            }
          }

# Ensure key exists
- hosts: elk
  become: yes
  become_method: sudo
  tasks:
    - name: Create key for message authentication
      shell: "/usr/share/elasticsearch/bin/shield/syskeygen"
      args:
        creates: /etc/elasticsearch/shield/system_key
      register: create_key
      when: es_message_auth
      environment:
        ES_JAVA_OPTS: "-Des.path.conf=/etc/elasticsearch"

    - name: Ensure permissions are correct
      file:
        dest: /etc/elasticsearch/shield/system_key
        owner: "{{ es_user }}"
        group: "{{ es_user }}"
        mode: 0600
      when: es_message_auth

    - name: Fetch the key
      fetch:
        src: /etc/elasticsearch/shield/system_key
        dest: ./
        fail_on_missing: yes
        flat: yes
      when: es_message_auth and create_key.changed

# Perform serial upgrade
- hosts: elasticsearch:elk
  serial: 1
  become: yes
  become_method: sudo
  pre_tasks:
    - name: Turn off node
      uri:
        url: "{{ es_endpoint }}/_cluster/nodes/{{ inventory_hostname }}/_shutdown"
        method: POST
        user: "{{ es_service_account }}"
        password: "{{ es_service_account_password }}"
        force_basic_auth: yes
        status_code: 200
        validate_certs: no
      delegate_to: "{{ default_admin_terminal }}"

    # Only for ES 2.0
    #- name: Perform a synced flush, if possible
    #  uri:
    #    url: "{{ es_endpoint }}/_flush/synced"
    #    method: POST
    #    user: "{{ es_service_account }}"
    #    password: "{{ es_service_account_password }}"
    #    force_basic_auth: yes
    #    status_code: 200
    #    register: synced_flush
    #    retries: 3
    #    delay: 60
    #    until: not synced_flush.stderr
    #    validate_certs: no
    #    body: ''
    #  delegate_to: admin_terminal

    - name: Remove old repository
      file:
        dest: /etc/yum.repos.d/elasticsearch.repo
        state: absent
        when: not "production" in group_names
  roles:
    - elasticsearch
    - elasticsearch-config

- hosts: admin_terminal
  become: yes
  become_method: sudo
  tasks:
    - name: Enable shard allocation
      uri:
        url: "{{ es_endpoint }}/_cluster/settings"
        method: PUT
        user: "{{ es_service_account }}"
        password: "{{ es_service_account_password }}"
        force_basic_auth: yes
        body_format: json
        validate_certs: no
        body: >
          {
            "transient": {
              "cluster.routing.allocation.enable": "all"
            }
          }
      retries: 10
      delay: 60
      register: es_shard_enabled
      until: es_shard_enabled.status == 200
      ignore_errors: true
