# hostname:port:database:username:password
{% for worker in groups['citus'] %}
{{ hostvars[worker]['ansible_ssh_host'] }}:{{ pp_serverport }}:*:{{ pp_superaccount }}:{{ pp_superpassword }}
{% endfor %}
localhost:{{ pp_serverport }}:*:{{ pp_superaccount }}:{{ pp_superpassword }}
{% for coordinator in groups['citus_coordinator'] %}
{{ hostvars[coordinator]['ansible_ssh_host'] }}:5432:replication:{{ replication_user }}:{{ replication_password }}
{% endfor %}
