
 set         odbcmgr         {{ stata_odbc_mgr }}
 cap set     processors      {{ stata_processor }}
 sysdir      set SITE        {{ stata_site }}

 {% for printer in stata_printers %}
 printer define {{ printer }}
 {% endfor %}
