[Desktop Entry]
Name=Sublime Text
GenericName=Text Editor
Comment=Edit text
Exec=subl
Icon=sublime_text
Type=Application
Terminal=false
Categories=Application;TextEditor;TextEditors
Encoding=UTF-8
StartupWMClass=SublimeText
X-Desktop-File-Install-Version=0.15
