[Desktop Entry]
Name=Pentaho {{ pentaho_version }}
Version={{ pentaho_version }}
Type=Application
Terminal=false
Categories=Development;
Icon=/opt/data-integration/spoon.ico
Exec=/opt/data-integration/spoon.sh
