---
- name: Setup configuration
  template:
    src: kibana.yml
    dest: /opt/kibana/config/kibana.yml
  notify:
    - restart kibana

- name: Start Kibana
  command: start kibana
  register: kibana_start
  failed_when: kibana_start.rc != 0 and "Job is already running" not in kibana_start.stderr
