export SPARK_HOME={{ spark_main_dir }}
export PATH=$SPARK_HOME/bin:$PATH
export MESOS_NATIVE_JAVA_LIBRARY={{ mesos_native_lib_path }}
export SPARK_EXECUTOR_URI={{ spark_executor_uri }}
export SPARK_USER={{ spark_execute_user }}
export LIBPROCESS_PORT={{ spark_libprocess_port }}
