---
- name: Install elasticsearch GPG key
  rpm_key:
    key: http://packages.elasticsearch.org/GPG-KEY-elasticsearch
    state: present

- name: Setup elasticsearch repo
  template:
    src: elasticsearch.repo
    dest: /etc/yum.repos.d/elasticsearch.repo
  when: not "production" in group_names

- name: Install elasticsearch
  yum:
    name: elasticsearch
    state: latest

- name: Create elasticsearch data directory
  file:
    dest: /opt/elasticsearch/data
    state: directory
    owner: elasticsearch
    group: elasticsearch

- name: Setup elasticsearch heap size
  copy:
    dest: /etc/default/elasticsearch
    content: "ES_HEAP_SIZE={{ es_heap_size }}"
  notify:
    - restart elasticsearch

- name: Configure ES config path
  copy:
    dest: /etc/profile.d/elasticsearch.sh
    content: 'export ES_JAVA_OPTS="-Des.path.conf=/etc/elasticsearch"'

- name: Install the license plugin
  command: /usr/share/elasticsearch/bin/plugin -i elasticsearch/license/latest{% if proxy_host %} -DproxyHost={{ proxy_host }}{% endif %}{% if proxy_port %} -DproxyPort={{ proxy_port }}{% endif %}
  args:
    creates: /usr/share/elasticsearch/plugins/license
  environment:
    ES_JAVA_OPTS: "-Des.path.conf=/etc/elasticsearch"
  notify:
    - restart elasticsearch

# Necessary because there is no way to upgrade a plugin directly
#- name: Remove old Shield plugin
#  command: /usr/share/elasticsearch/bin/plugin -r shield
#  environment:
#    ES_JAVA_OPTS: "-Des.path.conf=/etc/elasticsearch"
#  notify:
#    - restart elasticsearch

- name: Install the Shield plugin
  command: /usr/share/elasticsearch/bin/plugin -i elasticsearch/shield/latest{% if proxy_host %} -DproxyHost={{ proxy_host }}{% endif %}{% if proxy_port %} -DproxyPort={{ proxy_port }}{% endif %}
  args:
    creates: /usr/share/elasticsearch/plugins/shield
  environment:
    ES_JAVA_OPTS: "-Des.path.conf=/etc/elasticsearch"
  notify:
    - restart elasticsearch

- name: Make sure shield directory has proper permissions
  shell: "chmod 755 /etc/elasticsearch/shield"
  notify:
    - restart elasticsearch

- name: Make sure shield files have the proper permissions
  shell: "chmod 644 /etc/elasticsearch/shield/*"
  notify:
    - restart elasticsearch

- name: Open ports 9300:9400 in iptables
  command: "iptables -I {{ iptables_chain }} 3 -m state --state NEW -p tcp --dport 9300:9400 -j ACCEPT"
  when: iptables_config

- name: Open ports 9200:9299 in iptables
  command: "iptables -I {{ iptables_chain }} 3 -m state --state NEW -p tcp --dport 9200:9299 -s {{ hostvars[groups['proxy_server'][0]]['ansible_ssh_host'] }} -j ACCEPT"
  when: iptables_config

- name: Save rules
  command: "/sbin/service iptables save"
  when: iptables_config

- name: Install kopf
  command: /usr/share/elasticsearch/bin/plugin -install lmenezes/elasticsearch-kopf{% if proxy_host %} -DproxyHost={{ proxy_host }}{% endif %}{% if proxy_port %} -DproxyPort={{ proxy_port }}{% endif %}
  args:
    creates: /usr/share/elasticsearch/plugins/kopf/_site/index.html

# Install license key manually for now
#- name: Install the license key
#  shell: curl -XPUT -u {{ es_admin_user }} 'http://localhost:9200/_licenses' -d '{{ license_json }}' && touch /usr/share/elasticsearch/license_loaded
#  args:
#    creates: /usr/local/elasticsearch/license_loaded
#  when: license_json is defined
#  notify:
#    - restart elasticsearch
