#*****************************************************************
# Neo4j configuration
#*****************************************************************

# The name of the database to mount
#dbms.active_database=graph.db

########################################################################################
#   CFPB BASELINE FOR APPROVED CERTIFICATES
#
# Paths of directories in the installation.
dbms.directories.data={{ neo4j_data_dir }}
#dbms.directories.plugins=plugins
dbms.directories.certificates={{ neo4j_dbms_directories_certificates }}
dbms.directories.logs={{ neo4j_log_dir }}

########################################################################################
# CFPB BASELINE FOR IMPORTS
#
# This setting constrains all `LOAD CSV` import files to be under the `import` directory. Remove or uncomment it to
# allow files to be loaded from anywhere in filesystem; this introduces possible security problems. See the `LOAD CSV`
# section of the manual for details.
dbms.directories.import={{ neo4j_dbms_directories_import }}

########################################################################################
# CFPB BASELINE FOR ENABLING AUTHENTICATION
#
# Whether requests to Neo4j are authenticated.
# To disable authentication, uncomment this line
dbms.security.auth_enabled={{ neo4j_dbms_security_auth_enabled }}

########################################################################################
#
# Enable this to be able to upgrade a store from an older version.
#dbms.allow_format_migration=true

# The amount of memory to use for mapping the store files, in bytes (or
# kilobytes with the 'k' suffix, megabytes with 'm' and gigabytes with 'g').
# If Neo4j is running on a dedicated server, then it is generally recommended
# to leave about 2-4 gigabytes for the operating system, give the JVM enough
# heap to hold all your transaction state and query context, and then leave the
# rest for the page cache.
# The default page cache memory assumes the machine is dedicated to running
# Neo4j, and is heuristically set to 50% of RAM minus the max Java heap size.
#dbms.memory.pagecache.size=10g

#*****************************************************************
# Network connector configuration
#*****************************************************************

# Bolt connector
dbms.connector.bolt.type=BOLT
dbms.connector.bolt.enabled=true

########################################################################################
# CFPB BASELINE FOR BROWSER CONNECTIONS
browser.allow_outgoing_connections={{ neo4j_browser_allow_outgoing_connections }}
browser.credential_timeout={{ neo4j_browser_credential_timeout }}
browser.retain_connection_credentials={{ neo4j_browser_retain_connection_credentials }}

########################################################################################
# CFPB BASELINE FOR BOLT CONNECTOR

dbms.connector.bolt.tls_level={{ neo4j_bolt_connector_tls_level }}
# To have Bolt accept non-local connections, uncomment this line
# dbms.connector.bolt.address=0.0.0.0:7687

dbms.connector.http.type={{ neo4j_dbms_connector_http_type }}
dbms.connector.http.enabled={{ neo4j_dbms_connector_http_enabled }}
dbms.connector.http.address={{ neo4j_dbms_connector_http_address }}

########################################################################################
# CFPB BASELINE FOR HTTPS CONNECTOR

dbms.connector.https.encryption={{ neo4j_dbms_connector_https_encryption }}
dbms.connector.https.type={{ neo4j_dbms_connector_https_type }}
dbms.connector.https.enabled={{ neo4j_dbms_connector_https_enabled }}
dbms.connector.https.address={{ neo4j_dbms_connector_https_address }}

dbms.transaction_timeout={{ neo4j_dbms_transaction_timeout }}

########################################################################################


# Number of Neo4j worker threads.
#dbms.threads.worker_count=

#*****************************************************************
# Logging configuration
#*****************************************************************
########################################################################################
# CFPB BASELINE FOR ENABLING HTTP LOGGING
#
# To enable HTTP logging, uncomment this line
dbms.logs.http.enabled={{ neo4j_dbms_logs_http_enabled }}

# Number of HTTP logs to keep.
#dbms.logs.http.rotation.keep_number=5

# Size of each HTTP log that is kept.
#dbms.logs.http.rotation.size=20m

# To enable GC Logging, uncomment this line
#dbms.logs.gc.enabled=true

# GC Logging Options
# see http://docs.oracle.com/cd/E19957-01/819-0084-10/pt_tuningjava.html#wp57013 for more information.
#dbms.logs.gc.options=-XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+PrintGCApplicationStoppedTime -XX:+PrintPromotionFailure -XX:+PrintTenuringDistribution

# Number of GC logs to keep.
#dbms.logs.gc.rotation.keep_number=5

# Size of each GC log that is kept.
#dbms.logs.gc.rotation.size=20m

# Size threshold for rotation of the debug log. If set to zero then no rotation will occur. Accepts a binary suffix "k",
# "m" or "g".
#dbms.logs.debug.rotation.size=20m

# Maximum number of history files for the internal log.
#dbms.logs.debug.rotation.keep_number=7

dbms.logs.security.level={{ neo4j_dbms_logs_security_level }}

#*****************************************************************
# Miscellaneous configuration
#*****************************************************************

# Enable this to specify a parser other than the default one.
#cypher.default_language_version=3.0

########################################################################################
# CFPB BASELINE FOR CSV IMPORTS
#
# Determines if Cypher will allow using file URLs when loading data using
# `LOAD CSV`. Setting this value to `false` will cause Neo4j to fail `LOAD CSV`
# clauses that load data from the file system.
dbms.security.allow_csv_import_from_file_urls={{ neo4j_dbms_security_allow_csv_import_from_file_urls }}

# Retention policy for transaction logs needed to perform recovery and backups.
#dbms.tx_log.rotation.retention_policy=7 days

########################################################################################
#   CFPB BASELINE FOR DISABLING REMOTE SHELL
#
# Enable a remote shell server which Neo4j Shell clients can log in to.
dbms.shell.enabled={{ neo4j_dbms_shell_enabled }}
# The network interface IP the shell will listen on (use 0.0.0.0 for all interfaces).
#dbms.shell.host=127.0.0.1
# The port the shell will listen on, default is 1337.
#dbms.shell.port=1337

# Only allow read operations from this Neo4j instance. This mode still requires
# write access to the directory for lock purposes.
#dbms.read_only=false

# Comma separated list of JAX-RS packages containing JAX-RS resources, one
# package name for each mountpoint. The listed package names will be loaded
# under the mountpoints specified. Uncomment this line to mount the
# org.neo4j.examples.server.unmanaged.HelloWorldResource.java from
# neo4j-server-examples under /examples/unmanaged, resulting in a final URL of
# http://localhost:7474/examples/unmanaged/helloworld/{nodeId}
#dbms.unmanaged_extension_classes=org.neo4j.examples.server.unmanaged=/examples/unmanaged

{% if neo4j_use_ldap %}
########################################################################################
# LDAP Configuration

dbms.security.auth_provider=ldap
dmbs.security.ldap.host={{ neo4j_ldap_host }}
dbms.security.ldap.authentication.user_dn_template={{ neo4j_ldap_user_dn_template }}
dbms.security.ldap.authorization.user_search_base={{ neo4j_ldap_user_search_base }}
dbms.security.ldap.authorization.user_search_filter={{ neo4j_ldap_user_search_filter }}
dbms.security.ldap.authorization.group_membership_attributes={{ neo4j_ldap_member_attributes }}
dbms.security.ldap.authorization.group_to_role_mapping={{ neo4j_group_to_role_mapping }}
dbms.security.ldap.authentication.cache_enabled={{ neo4j_ldap_cache_enabled }}
dbms.security.auth_cache_ttl={{ neo4j_auth_cache_ttl }}
{% endif %}
